TG_API_ID=
TG_API_HASH=
TG_PHONE=
TG_CHAT=
TG_LIMIT=0

ASSISTANT_API_BASE=http://49.12.235.166:8000
ASSISTANT_API_TOKEN=owner-dev-token
PREFERRED_CASE_NUMBER=

TG_DOWNLOAD_DIR=./downloads/telegram
TG_SESSION_DIR=./sessions
